body {
    background: #3a6186;
    background: -webkit-linear-gradient(to left, #3a6186, #89253e);
    background: linear-gradient(to left, #3a6186, #89253e);
}

#preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -35px;
}